{% load static %}
<div class="pr_m_side_menu_wrap">
    <div class="pr_m_side_menu_background">
        <div class="pr_m_side_menu_content_area">
            <div class="pr_m_side_menu_close_wrap">
                <div class="pr_m_side_menu_close">
                    X
                </div>
            </div>
            <div class="pr_m_side_menu_header_wrap margleft10">
                <div class="pr_m_side_menu_header">
                    MENU
                </div>
            </div>
            <div class="pr_m_side_menu_hr">
                <hr>
            </div>
            <div class="pr_m_side_menu_scroll_area">
                <div class="pr_m_side_menu_row_wrap">
                    <div class="pr_m_side_menu_row_head margleft10">
                        <div class="pr_m_side_menu_row_head_text">
                            <a href="{% url 'myorders' %}">
                            orders
                            </a>
                        </div>
                    </div>
                    <div class="pr_m_side_menu_row_hr">
                        <hr>
                    </div>
                </div>
                <div class="pr_m_side_menu_row_wrap">
                    <div class="pr_m_side_menu_row_head margleft10">
                        <div class="pr_m_side_menu_row_head_text">
                            CALL:+917008529481
                        </div>
                    </div>
                    <div class="pr_m_side_menu_row_hr">
                        <hr>
                    </div>
                </div>
                <div class="pr_m_side_menu_row_wrap">
                    <div class="pr_m_side_menu_row_head margleft10">
                        <div class="pr_m_side_menu_row_head_text">
                            EMAIL vikas04488@gmil.com
                        </div>
                    </div>
                    <div class="pr_m_side_menu_row_hr">
                        <hr>
                    </div>
                </div>
                <div class="pr_m_side_menu_row_wrap">
                    <div class="pr_m_side_menu_row_head margleft10">
                        <div class="pr_m_side_menu_row_head_text">
                            <a href="{% url 'logout' %}">
                                LOGOUT
                            </a>
                        </div>
                    </div>
                    <div class="pr_m_side_menu_row_hr">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>