<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details Form</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Plant Details Form</h1>
    <form name="PlantForm" action="save_plant" method="post">
        {% csrf_token %}
        <label for="plant_name">Name:</label><br>
        <input type="text" id="plant_name" name="plant_name"><br><br>

        <label for="birthdate">Birthdate:</label><br>
        <input type="date" id="birthdate" name="birthdate"><br><br>

        <label for="is_alive">Is Alive:</label><br>
        <select id="is_alive" name="is_alive">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br><br>

        <label for="length">Length (in cm):</label><br>
        <input type="number" id="length" name="length" min="0"><br><br>

        <input type="submit" value="Save">
    </form>
</body>
</html>
